// sans

@mixin title120Mobile {
  font-size: 64px;
  letter-spacing: calc(-0.035 * 64px);
  line-height: 1;
}

%title-120 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: calc(-0.055 * 120px);

  @include media("<=tablet") {
    @include title120Mobile;
  }
}
